@use "../App.scss";

.about_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: App.$smallFont;
  text-align: center;
}

.about_header {
  position: relative;
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  .about_floating_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    .about_floating_text {
      padding: 15px 25px;
      font-size: 1rem;
      letter-spacing: 1px;
      border-radius: 50px;
      z-index: 10;
      box-shadow: 0 0 50px 2px rgb(103 154 204 / 30%);
      background-image: App.$blueGradient;
    }
  }
}

.about_title {
  @include App.headers;
}

.about_text {
  width: 80%;
  max-width: 500px;
  text-align: left;
  font-size: 1rem;
  margin: 0 auto;
  text-shadow: 0 0 6px #cec9c9, 0 0 20px rgb(206 201 201 / 42%);
  margin-bottom: 10vh;
}
.hidden_text {
  animation: 0.9s rollout;
}

@keyframes rollout {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}

.text_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
}

.arrow-down {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 38px;
}
.arrow-down:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid App.$lightBlue;
  border-right: 2px solid App.$lightBlue;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.skills {
  width: 80%;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vh;
  text-transform: uppercase;
  .skills_column {
    display: flex;
    text-align: center;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  .skills_item {
    @include App.item_border;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
    height: 80px;
    width: 100px;
    font-weight: bolder;
    transition: transform 0.3s;
    margin-bottom: 15px;
    &:hover {
      transform: scale(1.1);
    }
    img {
      height: 40px;
    }
  }
}

.shine {
  position: relative;
  overflow: hidden;

  &::before {
    background: linear-gradient(
      to right,
      fade_out(#fff, 1) 0%,
      fade_out(#fff, 0.7) 100%
    );
    content: "";
    display: block;
    height: 100%;
    left: -75%;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 20;
  }

  &:hover,
  &:focus {
    &::before {
      animation: shine 0.5s;
    }
  }

  @keyframes shine {
    100% {
      left: 125%;
    }
  }
}
