@use "../App.scss";

@font-face {
  font-family: "Play Fair";
  src: url("../../src/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

$firstBreakPoint: 600px;
$secondBreakPoint: 940px;

.intro_container {
  width: 100vw;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.intro_text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;

  h1 {
    font-family: "Play Fair", "Times New Roman", sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 500;
    opacity: 90%;
    font-size: 20vw;
  }
}
.profile_back {
  height: 60vh;
  max-width: auto;
  filter: grayscale(100%) brightness(80%);
}

.intro_pictures {
  position: relative;
  object-fit: cover;
  overflow: hidden;
  img {
    height: 70vh;
  }
  .profile_front {
    position: relative;
    z-index: 20;
    opacity: 0%;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: scale(0.99);
    &:hover,
    &:focus {
      opacity: 100%;
      transform: scale(1.01);
    }
  }
  .profile_back {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 0.6;
  }
}

@media (min-width: $firstBreakPoint) {
  .intro_text {
    h1 {
      font-size: 15.5vw;
    }
  }
}

@media (min-width: $secondBreakPoint) {
  .intro_text {
    h1 {
      font-size: 8vw;
    }
  }
  .phone_header {
    display: none;
  }
}

@media (max-width: $secondBreakPoint) {
  .intro_pictures {
    img {
      height: 60vh;
    }
  }
  .window_header {
    display: none;
  }
}
