@use "../App.scss";
@use "./about.scss";
$firstBreakPoint: 940px;

$transition: all 5s cubic-bezier(0.645, 0.045, 0.355, 1);

.projects_container {
  width: 100%;
}

.projects_list {
  width: 80%;
  height: auto;
  margin: 0 auto;
  -webkit-transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);

  @media (min-width: $firstBreakPoint) {
    & {
      width: 75%;
    }
  }
}

.project {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 15vh;
  @media (min-width: $firstBreakPoint) {
    & {
      flex-direction: row;
      height: 40vh;
    }
  }
}

.project_left {
  .project_image_container,
  .project_content {
    grid-area: 1 / 1 / -1 / -1;
  }

  @media (min-width: $firstBreakPoint) {
    .project_image_container {
      grid-area: 1 / 6 / -1 / -1;
    }
    .project_content {
      text-align: left;
      align-items: flex-start;
      grid-area: 1 / 1 / -1 / 7;
    }
  }
}

.project_right {
  .project_image_container,
  .project_content {
    grid-area: 1 / 1 / -1 / -1;
  }
  @media (min-width: $firstBreakPoint) {
    .project_image_container {
      grid-area: 1 / 1 / -1 / 8;
    }
    .project_content {
      text-align: right;
      align-items: flex-end;
      grid-area: 1 / 7 / -1 / -1;
    }
  }
}

.project_image_container {
  position: relative;
  box-shadow: 0 10px 30px -15px black;
  max-height: 100%;
  max-width: 100%;

  img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: contain;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(150deg, #2e72fc, #55aaff);
    opacity: 50%;
    z-index: 1;
  }
}

.project_content {
  font-size: 1.1rem;
  padding: 40px 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: App.$secondaryBG;
  z-index: 10;
  @media (min-width: $firstBreakPoint) {
    & {
      background-color: transparent;
    }
  }
  p {
    color: #55aaff;
    margin: 0px 0px 5px;
  }
}

.project_title {
  position: relative;
  z-index: 10;
  width: fit-content;
  margin: 0px 0px 20px;
  font-size: 1.2rem;
  .project_underline {
    position: absolute;
    bottom: -3%;
    left: 45%;
    width: 60%;
    background: linear-gradient(150deg, #2e72fc, #55aaff);
    height: 20%;
    z-index: -1;
  }
}

.project_description {
  z-index: 10;
  @media (min-width: $firstBreakPoint) {
    & {
      padding: 25px;
      background-color: App.$secondaryBG;
    }
  }
}

.project_skills {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  p {
    margin: 0px 10px 5px 10px;
  }
}

.project_uma_icon_container {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  max-width: 500px;

  .project_uma_icon {
    width: 75%;

    border-radius: 100%;
  }

  .project_discord_icon {
    width: 25%;
    position: absolute;
    border-radius: 100%;
    bottom: 0%;
    right: 15%;
    z-index: 10;
  }
}

// .btn-shadow {
//   margin-top: 5vh;
//   display: inline-block;
//   text-transform: uppercase;
//   font-weight: 500;
//   font-size: 1rem;
//   color: rgb(255, 255, 255);
//   position: relative;
//   text-align: center;
//   background: none;
//   border: none;
// }

// .btn-shadow span {
//   width: 80%;
//   background: linear-gradient(180deg, #2e72fc, #55aaff);
//   display: inline-block;
//   transform-style: preserve-3d;
//   transition: all 0.3s ease-out 0s;
//   padding: 16px 60px;
//   border-radius: 50em;
//   position: relative;
//   border: solid 1px transparent;
//   z-index: 2;
//   will-change: transform, filter;
//   &:active {
//     background: App.$mainBG;
//     border-color: #fff;
//     transition: all 0.1s ease-in-out;
//   }
// }

// .btn-shadow:hover span {
//   filter: brightness(0.9) contrast(1.2);
//   transform: scale(0.96);
// }
