@use "../App.scss";
@use "./about.scss";
$firstBreakPoint: 940px;
$secondBreakPoint: 1500px;
$transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

.projects_container {
  width: 100%;
  max-width: 100vw;
}

.projects_list {
  width: 80%;
  height: auto;
  margin: 0 auto;
  @media (min-width: $firstBreakPoint) {
    & {
      width: 60%;
    }
  }
  @media (max-width: $secondBreakPoint) {
    & {
      width: 75%;
    }
  }
}

.project {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 10vh;
  @media (min-width: $firstBreakPoint) {
    & {
      flex-direction: row;
      height: 40vh;
    }
  }
  .project_image_container,
  .project_content {
    grid-area: 1 / 1 / -1 / -1;
  }
}

.project_left {
  @media (min-width: $firstBreakPoint) {
    .project_image_container {
      grid-area: 1 / 6 / -1 / -1;
    }
    .project_content {
      text-align: left;
      align-items: flex-start;
      grid-area: 1 / 1 / -1 / 7;
    }
  }
}

.project_right {
  @media (min-width: $firstBreakPoint) {
    .project_image_container {
      grid-area: 1 / 1 / -1 / 8;
    }
    .project_content {
      text-align: right;
      align-items: flex-end;
      grid-area: 1 / 7 / -1 / -1;
    }
  }
}

.project_image_container {
  position: relative;
  box-shadow: 0 10px 30px -15px black;
  max-height: 350px;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: App.$blueGradient;
    opacity: 50%;
    z-index: 1;
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  &:hover {
    &:before {
      opacity: 0%;
    }
  }
}

.project_content {
  font-size: 0.95rem;
  padding: 30px 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: App.$secondaryBG;
  z-index: 10;

  @media (min-width: $firstBreakPoint) {
    & {
      background-color: transparent;
    }
  }
  p {
    color: App.$lightBlue;
    margin: 0px 0px 5px;
  }
}

.projects_header {
  @include App.headers;
}

.project_title {
  position: relative;
  z-index: 10;
  width: fit-content;
  margin: 0px 0px 20px;
  font-size: 1.1rem;
  .project_underline {
    position: absolute;
    bottom: -3%;
    left: 45%;
    width: 60%;
    background: App.$blueGradient;
    height: 20%;
    z-index: -1;
  }
}

.project_description {
  z-index: 10;
  border-radius: 4px;
  @media (min-width: $firstBreakPoint) {
    & {
      padding: 25px;
      background-color: App.$secondaryBG;
    }
  }
}

.project_skills {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  p {
    margin: 10px 10px 10px 0px;
  }
}

.project_links {
  a {
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    transition: $transition;
    padding: 3px 12px;
    margin: 10px 10px 10px 0px;
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 15px;
    text-decoration: none;
    &:hover {
      color: black;
      background-color: rgb(255, 255, 255);
    }
  }
}
