$smallFont: 0.8rem;
$fontColor: #cec9c9;
$mainBG: #0b0b0d;
$secondaryBG: rgba(26, 26, 26, 0.7);
$blueGradient: linear-gradient(180deg, #2e72fc, #55aaff);
$lightBlue: rgb(85, 170, 255);
$darkBlue: rgb(46, 114, 252);

@font-face {
  font-family: "Play Fair";
  src: url("../src/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

@mixin item_border {
  background-image: linear-gradient($mainBG, $mainBG),
    radial-gradient(circle at top left, #2e72fc, #55aaff);
  border: double 2.5px transparent;
  background-clip: content-box, border-box;
  border-radius: 10px;
  background-origin: border-box;
}

@mixin headers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80vw;
  min-width: 80%;
  white-space: nowrap;
  font-size: 1.8rem;
  padding: 10px;
  font-weight: 600;
  font-family: "Play Fair", "Times New Roman", sans-serif;
  transform: all 5s;
  &::before,
  &::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    top: 3px;
    margin: 2%;
    background-color: white;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  color: #cec9c9;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-family: "Century Gothic", "Times New Roman", "sans-serif";
}
